Repository umccr/orcabus, pull requests merged in 2024-01, with the labels that each got.

#79 filemanager: deploy changes and fixes
  lib/workload/stateful/filemanager/Cargo.lock
  lib/workload/stateful/filemanager/Cargo.toml
  lib/workload/stateful/filemanager/README.md
  lib/workload/stateful/filemanager/build.rs
  lib/workload/stateful/filemanager/database/migrations/0001_add_object_table.sql
  lib/workload/stateful/filemanager/database/migrations/0002_add_s3_object_table.sql
  lib/workload/stateful/filemanager/deploy/README.md
  lib/workload/stateful/filemanager/deploy/bin/filemanager.ts
  lib/workload/stateful/filemanager/deploy/cdk.json
  lib/workload/stateful/filemanager/deploy/constructs/cdk_resource_invoke.ts
  lib/workload/stateful/filemanager/deploy/constructs/database.ts
  lib/workload/stateful/filemanager/deploy/constructs/functions/function.ts
  lib/workload/stateful/filemanager/deploy/constructs/functions/ingest.ts
  lib/workload/stateful/filemanager/deploy/constructs/functions/migrate.ts
  lib/workload/stateful/filemanager/deploy/lib/filemanager_stack.ts
  lib/workload/stateful/filemanager/deploy/package-lock.json
  lib/workload/stateful/filemanager/deploy/package.json
  lib/workload/stateful/filemanager/deploy/stack/filemanager_stack.ts
  lib/workload/stateful/filemanager/deploy/stack/stack.ts
  lib/workload/stateful/filemanager/filemanager-migrate-lambda/Cargo.toml
  lib/workload/stateful/filemanager/filemanager-migrate-lambda/src/main.rs
  lib/workload/stateful/filemanager/filemanager/Cargo.toml
  lib/workload/stateful/filemanager/filemanager/src/database/aws/ingester.rs
  lib/workload/stateful/filemanager/filemanager/src/database/aws/migration.rs
  lib/workload/stateful/filemanager/filemanager/src/database/aws/mod.rs
  lib/workload/stateful/filemanager/filemanager/src/database/mod.rs
  lib/workload/stateful/filemanager/filemanager/src/events/aws/collecter.rs
  lib/workload/stateful/filemanager/filemanager/src/events/aws/collector_builder.rs
  lib/workload/stateful/filemanager/filemanager/src/events/aws/mod.rs
  lib/workload/stateful/filemanager/filemanager/src/events/mod.rs
  lib/workload/stateful/filemanager/filemanager/src/handlers/aws.rs
  lib/workload/stateful/filemanager/scripts/deploy.sh
  lib/workload/stateful/filemanager/scripts/logs.sh
Labels: filemanager

#80 Gitpod
  .github/workflows/prbuild.yml
  .gitpod.Dockerfile
  .gitpod.yml
  docker-compose.ci.yml
  docker-compose.yml
  mock-ica/docker-compose-mock-ica.yml
  mock-ica/haproxy.cfg
  yarn.lock
Labels: cicd

#88 feat: de-duplicate events at the database level
  lib/workload/stateful/filemanager/Cargo.lock
  lib/workload/stateful/filemanager/database/Dockerfile
  lib/workload/stateful/filemanager/database/migrations/0001_add_object_table.sql
  lib/workload/stateful/filemanager/database/migrations/0002_add_s3_object_table.sql
  lib/workload/stateful/filemanager/database/queries/ingester/aws/insert_s3_created_objects.sql
  lib/workload/stateful/filemanager/database/queries/ingester/aws/insert_s3_deleted_objects.sql
  lib/workload/stateful/filemanager/database/queries/ingester/aws/insert_s3_objects.sql
  lib/workload/stateful/filemanager/database/queries/ingester/aws/update_deleted.sql
  lib/workload/stateful/filemanager/database/queries/ingester/insert_objects.sql
  lib/workload/stateful/filemanager/filemanager/Cargo.toml
  lib/workload/stateful/filemanager/filemanager/src/database/aws/ingester.rs
  lib/workload/stateful/filemanager/filemanager/src/error.rs
  lib/workload/stateful/filemanager/filemanager/src/events/aws/collector_builder.rs
  lib/workload/stateful/filemanager/filemanager/src/events/aws/mod.rs
  lib/workload/stateful/filemanager/filemanager/src/handlers/aws.rs
Labels: feature, filemanager
